/quark-gluon_data-set_n139306.hdf5
Report/Figures/cms_detector.png
__pycache__/data_load.cpython-311.pyc
__pycache__/train.cpython-311.pyc
__pycache__/graph_vae.cpython-311.pyc
Saves/Checkpoints
Report/Figures
Report/Plots
quark_ecal_graph.h5
quark_jets_ecal.h5
quark_3chan_graph.h5
quark_ecal_graph_compressed.h5
gluon_ecal_graph_compressed.h5
gluon_jets_ecal.h5
quark_ecal_graph_normalized.h5
gluon_val_graph_ecal.h5
quark_val_graph_ecal.h5
